/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
.menu {
  display: inline;
}
#title {
  padding: 5%;
}
#navMenu{
  position: absolute;
  right: 5%;
}
