/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
body {
  background-color: #D4A76A;
}
.header {
  padding-bottom : 25px;
  background-color: #FFDBAA;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin: -10px;

}
#title {
  padding: 15px;
}
.menu {
  display: inline-block;
}
h1 {
  margin: 15px;
  color: #553100;
  padding-bottom: 20px;
  display: inline-block;
}
#navMenu{
  position: absolute;
  right: 60px;
  top: 15px;
  /* padding-top: 20px; */

}

a {
  background-color: #805215;
  color: white;
  padding: 13px 20px;
  margin: 15px 20px ;
  display: inline-block;
}
.ads {
  display: inline-block;
  width: 22%;
  border: solid;
  margin: 5%;
  background-color: white;

}
.ads h3 {
  text-align: center;

}
.ads a {
  width: 70%;
  text-align: center;
}
.ads p {
  text-align: left;
  padding-left: 5%;
}
a {
  text-decoration: none;
}